{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-8 container">
        <form action="{{ url_for('cards.process_create_card') }}" method="POST">
            <input type="hidden" name="col" value="{{ col_id }}">
            <input type="hidden" name="board" value="{{ board_id }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.text.label }}
                {{ form.text() }}
            </div>
            {{ form.submit() }}
        </form>
    </div>
    </div>
{% endblock %}