{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-light" role="alert">
            {{ message }}<br>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div class="row">
        <div class="col-4 container header">

            <form action="{{ url_for('boards.process_create_board') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.board_name.label }}
                    {{ form.board_name() }}
                </div>
                {{ form.submit() }}
            </form>

        </div>
    </div>
{% endblock %}