{% extends "base.html" %}

{% block content %}
<div class="row">
        <div class="col-8 container">
            <form action="{{ url_for('col.process_edit_col_name') }}" method="POST">
                <input type="hidden" name="board" value="{{ board_id }}">
                <input type="hidden" name="col" value="{{ col.id }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label }}
                    {{ form.name(value=col.col_name) }}
                </div>
                {{ form.submit() }}
            </form>
        </div>
    </div>
{% endblock %}